<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  {{!-- <header>
    <h1>Welcome to the Four Seasons Museum</h1>
  </header> --}}
  {{#if loggedIn}}
  <nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/">Dashboard</a>
    <!-- If the user is logged in, show a logout button -->
 
    <button id="logout" class="btn-no-style">Logout</button>
   
    <!-- Otherwise, show a link to login -->
     <a href="/">Logout</a>
  </nav>
  {{/if}}
  <header>
    <h1>Tech Blog</h1>
  </header>
  <main>
    
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src=""></script>
  {{/if}}
</body>

</html>