<nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/dashboard">Dashboard</a>
    <!-- If the user is logged in, show a logout button -->
 
    <button id="logout" class="btn-no-style">Logout</button>
   
    <!-- Otherwise, show a link to login -->
     <a href="/">Logout</a>
  </nav>


{{!-- here would be post you have made  --}}





<div><button>
    <a href="/newpost"></a>
    </button>

</div>
