


{{!-- here would be post you have made  --}}

<ul id="userBlogPost">
    {{#each user.posts as |post|}}
    <li>
       <h4>{{post.title }} </h4> 
       <p>{{post.text}}</p> 
       <a class="btn" href="/edit/{{post.id}}">edit</a>
        </li>

    {{/each}}
</ul>




<button>
<a href="/newpost">post</a>
</button>


