<p>Welcome</p>

{{!-- <form>
    <input type="text" name="userpost" id="userpost">
    <button id="submitBtn">submit</button>
</form> --}}

{{!-- view this post takes them to the post url where they can delete or update  --}}

<ul id="userBlogPost">
    {{#each user.posts as |post|}}
    <li>
       <h4>{{post.title }} </h4> 
       <p>{{post.text}}</p> 
        </li>

    {{/each}}
</ul>