{{!-- sign up form --}}
<div id="signUplogo">
    <h2 >Sign Up</h2>
</div>

<div>
    <br>
<form class="form signUp-form login-card" id = "signUpForm">
  <div class="form-group">
    <label for="email-signUp">email:</label>
    <input class="form-input" type="text" id="email-signUp" />
  </div>
  <div class="form-group">
    <label for="password-signUp">password:</label>
    <input class="form-input" type="password" id="password-signUp" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary " id ="signUpBtn" type="submit">Submit</button>
    <button id ='logBtnOnSign'><a href="/login">login</a>
</button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>