

<form class="form signUp-form" id = "signUpForm">
  <div class="form-group">
    <label for="email-signUp">email:</label>
    <input class="form-input" type="text" id="email-signUp" />
  </div>
  <div class="form-group">
    <label for="password-signUp">password:</label>
    <input class="form-input" type="password" id="password-signUp" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary " id ="signUpBtn" type="submit">Sign Up</button>
  </div>
</form>
<a href="/login">login</a>
<script src="/js/signup.js"></script>