<div>
    <h2> {{post.title}} {{post.showCreated}}</h2>
    <p>{{post.text}}</p>
    
    <label for="comment">Comment</label>
    <textarea name="comment" id="comment" cols="30" rows="10">
    </textarea>
    <button id="commentBtn">submit
    </button>

</div>
<script src="/js/view.js"></script>